<a href="https://colab.research.google.com/github/YoungsunChoi914/class2022Fall/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading a dataset

In [2]:
import pandas as pd

### iris dataset

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label'])
iris['label'] = le.fit_transform(iris['label'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  label
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

세개의 다른 붓꽃 종류

csv로 데이터 받고, 칼럼 정보가 없어서 직접 입력. 

label 숫자값으로 바꿔줌

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label'])
iris

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### breast cancer dataset

In [6]:
breast_cancer = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', names=['id', 'clump_thickness', 'uniformity_of_cell_size', 'uniformity_of_cell_shape', 'marginal_adhesion', 'single_epithelial_cell_size', 'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'label'])
breast_cancer.drop(['id'], axis=1, inplace=True)
breast_cancer['label'].replace([2, 4], [0, 1], inplace=True)
breast_cancer.replace('?', -999999, inplace=True)  # replace missing value with outliers
breast_cancer.head()

,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,label
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0

첫줄만 실행하면 id정보가 나오는데, 필요없음. 그래서 이걸 drop

label 보면2,4 로 나오는데, 이걸 0,1 로 표현하는게 일반적이라 이렇게 바꿔줌. 

missing data 등등 처리.

### wine dataset

In [7]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names=['label', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols','flavanoids', 'nonflavanoid_phenols' ,'proanthocyanins', 'color_intensity', 'hue', 'OD280/OD315_of_diluted_wines', 'proline'], delimiter=",", index_col=False)
wine.head()

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return func(*args, **kwargs)

,label,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,OD280/OD315_of_diluted_wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93

다 제대로돼있어서 바꿀 필요가 없음.

## Comparing 6 classification algorithms

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

models = [
    ('LR', LogisticRegression()),
    ('NB', GaussianNB()),
    ('SVM', SVC()),
    ('KNN', KNeighborsClassifier()),
    ('DT', DecisionTreeClassifier()),
    ('NN', MLPClassifier()),
]

logisticregression알아야 함. 

y=ax+b linear regression. 

logistic이라는 건, ~~~ 이부분 확인하기

말이 regression이지 classification의 대표적인 것이라 보면 됨. 0, 1로 나와서

다 뉴럴렛?으로 해서 좀 outdated된 애들

sVc도 좀 쓰는편

### test a single model (e.g. Logistic Regression)

In [10]:
from sklearn.model_selection import train_test_split
import numpy as np

dataset_name = 'iris'
dataset = iris

X = np.array(dataset.drop(['label'], axis=1))
y = np.array(dataset['label'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

name = 'LR'
model = LogisticRegression()
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test)
print(dataset_name, name, accuracy)

iris LR 1.0

In [11]:
model.predict(np.array([6, 3, 5, 2]).reshape(1,4))

array(['Iris-virginica'], dtype=object)

### Evaluate all the models

In [12]:
for dataset_name, dataset in [('iris', iris), ('breast_cancer', breast_cancer), ('wine', wine)]:
  X = np.array(dataset.drop(['label'], axis=1))
  y = np.array(dataset['label'])
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

  for name, model in models:
    model.fit(X_train, y_train)
    accuracy = model.score(X_test, y_test)
    print(dataset_name, name, accuracy)

iris LR 1.0
iris NB 1.0
iris SVM 1.0
iris KNN 1.0
iris DT 1.0

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

iris NN 0.9666666666666667
breast_cancer LR 0.35714285714285715
breast_cancer NB 0.9214285714285714
breast_cancer SVM 0.6785714285714286
breast_cancer KNN 0.9857142857142858
breast_cancer DT 0.9428571428571428
breast_cancer NN 0.9642857142857143
wine LR 0.9166666666666666
wine NB 0.9444444444444444
wine SVM 0.5833333333333334
wine KNN 0.8333333333333334
wine DT 0.9444444444444444
wine NN 0.3333333333333333

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(