<a href="https://colab.research.google.com/github/YoungsunChoi914/class2022Fall/blob/main/dimensionality_reduction(PCA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/analytics-vidhya/dimensionality-reduction-principal-component-analysis-d1402b58feb1

차원을 줄이는 것. 꽃 하나를 표현하기 위해 4개의 숫자를 썼는데, 3개, 2개, 1개로 줄일 수는 없을까?

예전에는 용량 줄이는 용도로, 요즘에는 다른 이점도 많음

decorrelate 하는 방법을 찾아야 함. 어떻게 decorrelate 할까가 핵심

데카르트 시스템. 축 90도

90도의 의미 -> 서로 similarity가 없는 것

correlation 0 

두축을 따라가면 correlation이 0이 되는 상황. 

90도가 되는 축을 중앙으로 위치시키고, 한 축은 분포가 젤 넓은 것으로 다른 한 축은 얇은 방향으로.  

왜 이러느냐? 더 넓은 분포의 축을 따라 보겠다. 더 변화가 작은 쪽은 어차피 의미가 크지 않음. 이 축의 정보는 포기하겠다.  이렇게 해서 차원을 줄일 수 있다. 

pca를 한 것만으로 차원축소가 되는것은 아님. 그대로 차원 유지. 근데 여기서 우리가 덜 중요한 축을 빼면서 차원을 축소할 수 있다. 

긴 축일수록 이 데이터를 많이 설명한가.

## Loading a dataset

In [1]:
import pandas as pd
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label'])
iris

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
X = iris.drop(['label'], axis=1)
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

## Principal Component Analysis (PCA)

In [3]:
from sklearn.decomposition import PCA
model = PCA(n_components=4)  # n_components specifies the new dimensionality
X_reduced = model.fit(X).transform(X) # or just pca.fit_transform(X)
pd.DataFrame(X_reduced)

            0         1         2         3
0   -2.684207  0.326607 -0.021512  0.001006
1   -2.715391 -0.169557 -0.203521  0.099602
2   -2.889820 -0.137346  0.024709  0.019305
3   -2.746437 -0.311124  0.037672 -0.075955
4   -2.728593  0.333925  0.096230 -0.063129
..        ...       ...       ...       ...
145  1.944017  0.187415  0.179303  0.425082
146  1.525664 -0.375021 -0.120636  0.255723
147  1.764046  0.078519  0.130784  0.136295
148  1.901629  0.115877  0.722874  0.040873
149  1.389666 -0.282887  0.362318 -0.156310

[150 rows x 4 columns]

다른 숫자들이 나옴. 축이 이동하고 난 상태의 값들

출력값을 X_reduced로 두고 dataframe으로 보기 좋게 정리한 것

In [4]:
print('Components:', model.components_)
print('Explained Variance:', model.explained_variance_)
print('Explained Variance Ratio:', model.explained_variance_ratio_ )

Components: [[ 0.36158968 -0.08226889  0.85657211  0.35884393]
 [ 0.65653988  0.72971237 -0.1757674  -0.07470647]
 [-0.58099728  0.59641809  0.07252408  0.54906091]
 [ 0.31725455 -0.32409435 -0.47971899  0.75112056]]
Explained Variance: [4.22484077 0.24224357 0.07852391 0.02368303]
Explained Variance Ratio: [0.92461621 0.05301557 0.01718514 0.00518309]

model.components를 출력한 정보. 행렬
pca한 값을 원상복구 해줄 수 있는 정보. pca 후의 값에 이 정보들을 곱하면 원래 값으로 복구

150X4, 4X4 -> 150X4 로 복구

(행렬은 직사각형이다.

3x2  x  2x5 -> 3x5 행렬이 나옴. )

variance는 sd의 제곱. 클수록 더 중요한 정보. 설명력, 두께

n_components=2로 하면 원복하는 행렬이 다르게 나옴. 2X4로 나옴.

In [5]:
X_approx = model.inverse_transform(X_reduced) 
pd.DataFrame(X_approx)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

pca후의 행렬을 넣어서 x_approx

오리지널이나올 수 없음. 2개의 component만 선택했다면, 원래의 자료가 완전히 나오지 않음. 

이렇게 구한 값이랑 원래 자료랑 비교하면, 차이가 있긴 하지만 거의 비슷한 값이 나오는 것을 볼 수 있음. 

1개만 갖고 해도 전체의 대부분을 차지해서 이정도로 차원축소해도 가능함. 

pca 된 값들은 서로 decorrelate 된 값이다.

In [ ]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]