<a href="https://colab.research.google.com/github/YoungsunChoi914/class2022Fall/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1; print(type(a))

<class 'int'>

a는 변수, 오른쪽의 1이 meaning.

수학에서의 같다 의미가 아니라 값을 부여한 것. 

a라는 변수에 1이라는 내용을 할당함

옆에서 변수 저장상황 확인 가능

정수여서 int

숫자/글자

print는 함수의 일종. 출력해주는 것. 입출력이 있으면 함수. 

함수 옆에는 반드시 괄호가 있음.

type도 함수. 변수의 유형을 알려줌

print 안쓴 건 마지막 라인만 자동으로 프린트 됨.

In [7]:
a = '1'
b = 2

글자처리는 ''붙여서. string
글자 길이에 따라 크기가 1chars, 2chars 로 표시됨

In [3]:
a = 1.1; print(type(a))

<class 'float'>

소수점 있으면 float

In [4]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

0번째, 1번째, 2번째 순으로 '0번째'부터 시작

[]대괄호로 몇번째인지 지정하는 것.

In [5]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

string, list에서 몇번째 기능 활용하는것

In [8]:
c = [2, 3, 'abc', 3.2, b]

list에는 상수, 변수 상관없이 들어갈 수 있음

In [9]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [10]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

a에는 세개의 항목이 있는것.

In [11]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

dictionary (변수)

{"key": }형식으로 작성. 
샵을 부치는건 comment out 이라함.